*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    height: fit-content;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header-div{
    padding: 30px;
    background-color: #ede9e4;
}

.header-div nav{
    margin-right: 250px;
}

header, .menu{
    display: flex;
    justify-content: space-between;
}

.menu>li>a{
    margin-left: 20px;
    font-weight: bold;
    color:black;
    font-size: 20px
}

h1{
    margin-left: 150px;
    font-family: cursive;
}

footer{
    background-color: #202020;
    height: fit-content;
    padding: 100px;
}

footer h2, footer p, a{
    color: #ffffff;
}

footer>h2{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: cursive;
}

.contact-footer{
    float: right;
}

.flexed{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.flexed li{
    font-size: 30px;
}

.flexed p{
    font-size: 20px;
}

.flexed p, .flexed li {
    margin-top: 20px;
}

.follow-us{
    margin: 50px;
}

.follow-text{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.tag-name{
    font-size: 30px;
    margin-top: 50px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.tag-name a{
    color:black ;
}

.follow-icons img{
    width: 50px;
    margin-right: 20px;
}

.follow-icons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.photo-foot{
    width: 100%;
    max-width: 100wh;
}


.blog-name{
    text-align: center;
    margin: 100px 0px;
    font-size: 50px;
}

.first-blog, .second-blog, .third-blog{
    background-color: #baaa96;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
}

.first-blog img, .second-blog img, .third-blog img{
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.first-blog h3, .second-blog h3, .third-blog h3{
    margin: 70px 40px 40px 40px;
    font-size: 40px;
}

.first-blog p, .second-blog p, .third-blog p{
    margin-left: 40px;
    font-size: 20px;
    margin-right: 40px;
}

.first-text-blog, .second-text-blog, .third-text-blog{
    width: 500px;
}

.first-blog-button, .second-blog-button, .third-blog-button{
    margin: 40px;
    color: white;
    padding: 15px 40px;
    background-color: black;
    border: none;
}

.first, .second{
    margin-bottom: 100px;
}

.third{
    margin-top: 100px;
}