* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    background-color: #ec5e2a;
    margin: auto;
    /*  ვიცი რომ max-width პიქსელებში უნდა მიგვეთითებინა მაგრამ
    მასსე რო ვაკეტებდი menu-ul_ის li item ორ ხაზზე იწერებოდა და 
    არა ერთზე, და ეს ვიპოვე ერტადერთი გამოსავალი */
    max-width: fit-content;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p, a {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

img {
    width: 5%;
    border-radius: 5px
}

.phone-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
