* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 300px;
}

.search-bar {
    max-width: fit-content;
    width: 100%;
    background-color: rgb(66, 61, 61);
    padding: 30px;
    border-radius: 10px;
}

.text{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: rgb(54, 51, 51);
    border-radius:5px ;
    border: none;
}

input::placeholder {
    color: white;
}

input {
    transition: all;
    transition-duration: 1s;

}

button:hover {
    background-color: rgb(84, 84, 84);
    /* color: rgb(95, 255, 37); */
    border: none;
    cursor: pointer;
}
  
input:focus{
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00;
    animation: focus 2s infinite;

}

@keyframes focus {
    0% {
        box-shadow: 0 0 1px #00ff00, 0 0 1px #00ff00, 0 0 1px #00ff00, 0 0 1px #00ff00;
    }
    50% {
        box-shadow: 0 0 5px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00;
    }
    100% {
        box-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00;
    }
}

